.item {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-areas:
    "img name"
    "img company"
    "img species";
  align-items: center;
  font-size: 25px;
  margin-top: 50px;

  span {
    font-weight: 700;
  }
  p{
    line-height: 30px;
    @media (max-width: 538px) {
      margin-top: 15px;
    }
  }

  @media (max-width: 538px) {
    grid-template-columns: 45% 1fr;
    font-size: 20px;
  }

  @media (max-width: 450px) {
    margin-top: 20px;
  }
}

.img {
  grid-area: img;
  margin-right: 30px;
  img{
    max-width: 100%;
  }
}


.name {
  grid-area: name;
}

.company {
  grid-area: company;
}

.species {
  grid-area: species;
}