
.input {
  all: inherit;
  width: 100%;
  border: 1px solid #252A31;
  padding: 15px;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 20px;
}

.label span {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}