@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside{display: block;}

html, body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*----------------------------------------------------*/

body {
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
}

.container {
  padding: 0 20px;
  @media (max-width: 508px) {
    padding: 0 10px;
  }
}

header{
  height: 150px;
  background: rgb(71,174,255);
  background: radial-gradient(circle, rgba(71,174,255,1) 0%, rgba(71,87,255,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    color: #fff;
    font-size: 60px;
    text-align: center;
    @media (max-width: 688px) {
      font-size: 50px;
    }
    @media (max-width: 514px) {
      font-size: 45px;
    }
  }
}